@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Url.ActionContext.RouteData.Values["id"]">Edit</a>

<ul id="customerDetails">

</ul>


@section Scripts
{
    <script>
        var id = @Url.ActionContext.RouteData.Values["id"];

        $(document).ready(function () {
            $.ajax({
                url: "/api/customers/" + id,
                method: "GET",
                success: function (data) {
                    $('#customerDetails').append(
                        "<li>" + "Name: " + data.name + "</li>",
                        "<li>" + "Email: " + data.email + "</li>",
                        "<li>" + "Birthdate: " + data.birthdate + "</li>",
                        "<li>" + "Has newsletter subscribed: " + data.hasNewsletterSubscribed + "</li>"
                    );
                }
            })
        });
    </script>

}